/* Elements----------------------------------------*/

.side-bar a,.chat-tips i {
	background-image: url(/images/gcw.png);
	background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 3px #888888;
    border-radius:30px;
}
/*右侧悬浮icon*/
.side-bar {
	width: 60px;
	position: fixed;
	bottom: -8px;
	left: 25px;
	font-size: 0;
	line-height: 0;
	z-index: 100;
}
.side-bar a {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-color:#f1efef;
	margin-bottom: 100%;
}
.side-bar a:hover {
	background-color:#f1efef;
}
.side-bar .icon-qq {
	/*background-position: 0 -62px;*/
}


