@{
    Layout = null;
    string AuditState = ViewData["AuditState"] as string;
    string OrderState = ViewData["OrderState"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <title>我的下级订单 - 微商系统演示版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9" />
    <meta name='viewport' content='width=635px, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,target-densitydpi=device-dpi' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/css/jlpmain.css?20161222" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <style type="text/css">
        .jlmx table {
            margin-top: 10px;
        }

        .jlmx table {
            border-right: none;
            border-left: none;
            border-bottom: none;
            border-top: 1px solid #cfcfd0;
        }

            .jlmx table tr th {
                border-bottom: 1px solid #cfcfd0;
            }

            .jlmx table tr td {
                border-right: none;
            }

        #mainMenuBar table {
            width: 100%;
            border-bottom: 1px solid #cfcfd0;
            border-top: 1px solid #cfcfd0;
        }

            #mainMenuBar table tr td {
                width: 14.5%;
                color: #333;
                font-size: 12px;
                text-align: center;
                border-right: 1px solid #cfcfd0;
            }
            #mainMenuBar table tr td a {
                color: #333;
            }

                #mainMenuBar table tr td.shzt {
                    color: #ef8888;
                }


        .tdfocus {
            background-color: #cfcfd0;
        }
    </style>
</head>
<body style="background: #ebebeb;">
    <div data-ajax="false">
        <div id="wrapper">
            <div id="container">
                <div id="mainMenuBarAnchor">
                </div>
                <div id="mainMenuBar">
                    <table>
                        <tr>
                            <td class="condition" data-condition="">
                                <a href="javascript:void(0)">全部</a>
                            </td>
                            <td class="condition" data-name="audit" data-condition="未审核">
                                <a href="javascript:void(0)">未审核</a>
                            </td>
                            <td class="condition" data-name="audit" data-condition="已审核">
                                <a href="javascript:void(0)">已审核</a>
                            </td>
                            <td class="condition" data-condition="待发货">
                                <a href="javascript:void(0)">未发货</a>
                            </td>
                            <td class="condition" data-condition="已发货">
                                <a href="javascript:void(0)">已发货</a>
                            </td>
                            <td class="condition" data-condition="已取消">
                                <a href="javascript:void(0)">已取消</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <form id="formcondition">
                        <table style="width:100%">
                            <tr style=" width: 100%;">
                                <td style="text-align: right; width: 20%"></td>
                                <td>
                                    <input name="Name" value="" placeholder="输入姓名" style="padding: 1%; margin: 1%; width: 80%; -webkit-appearance: none; height:25px; border: 1px solid #c4c4c4; border-radius: 5px;" />
                                </td>
                            </tr>

                        </table>
                        <table id="morediv" style="display: none; width: 100%">
                            <tr style=" width: 100%;">
                                <td style="text-align: right;width:20%">
                                    时间：
                                </td>
                                <td>
                                    <input name="DatCreateB" value="" type="date" placeholder="下单时间起" style="padding: 1%; height: 25px; margin: 1%; width: 80%; -webkit-appearance: none; border: 1px solid #c4c4c4; border-radius: 5px; " />
                                </td>
                            </tr>
                            <tr style=" width: 100%;">
                                <td style="text-align: right;width:20%">
                                    至
                                </td>
                                <td>
                                    <input name="DatCreateE" value="" type="date" placeholder="下单时间止" style="padding: 1%; height: 25px; margin: 1%; width: 80%; -webkit-appearance: none; border: 1px solid #c4c4c4; border-radius: 5px; " />
                                </td>
                            </tr>
                        </table>
                        <table style="width:100%">
                            <tr>
                                <td style="text-align: right;width:20%"></td>
                                <td style="width:80%">
                                    <div>

                                        <input style="padding: 2px 5px; background-color: #049d8f; color: white; border: 0; border-radius: 5px; margin: 2px;" type="button" name="" value="查询" id="btn_search" />
                                        <input id="more" style="padding: 2px 5px; background-color: #808080; color: white; border-radius: 5px; border: none; margin: 2px;" type="button" name="" value="更多" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div id="page1" data-role="page">
            <div data-role="content" id="content">
                <div class="centent_total">
                    <div style="width: 100%;">
                        <div class="jlmx">
                            <button id="ordershtml" onclick="LoadOrders(this)" data-pageindex="1" type="button" style="display: none; background-color: white; text-align: center; color: #3e3c3c; padding: 6px 20px 6px 20px; border-radius: 5px; border: 0; border: none;">更多</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="All_foot">
                <div class="foot">
                    <table>
                        <tr>
                            <td>
                                <a href="/agentback/Index">
                                    <div class="div1">
                                        <img src="/images/25.png" alt="" />
                                    </div>
                                    <div class="div2">
                                        返回首页
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/Common/Datehelper.js"></script>
<script src="~/js/Common/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script type="text/x-jquery-tmpl" id="orderstmp">
    {{each(i,ck) RtnList}}
    <table class="js-orderstab" data-tabid="${ck.OrderNo}">
        <tr>
            <th colspan="2">订单编号 : ${ck.OrderNo}
            </th>
            <th style="text-align: center; padding-left: 0; color: #3b4481;" rowspan="1">${ck.OrderState}
            </th>
        </tr>
        <tr>
            <th colspan="2">下单日期 : ${ChangeDateFormat(ck.DatCreate).Format("yyyy-MM-dd hh:mm")}
            </th>
            <th>下单人姓名 : ${ck.C_User_Name}
            </th>
        </tr>
        <tr class="tr1" style="border-bottom: 1px solid #c6c4cb;">
            <td class="td1" colspan="3">
                <ul>
                    <li>收货人姓名 : ${ck.OrderMan}</li>
                    <li>收货人电话 : ${ck.OrderMobile}</li>
                    <li>地址 : ${ck.Address}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="color: #434141; height: 30px; line-height: 30px;">订单金额 : ${ck.SumPrice}元
            </th>
            <th style="height: 30px; line-height: 30px; text-align: right; padding-right: 15px;" colspan="2">
                {{if ck.OrderState=="待审核"}}
                <button type="button" style="border: 1px solid #049d8f; padding: 3px 8px; color: #049d8f;" data-orderno="${ck.OrderNo}" onclick="toaudit(this)">审核订单</button>
                {{/if}}
                {{if ck.OrderState=="已取消"||ck.OrderState=="已发货"}}
                <button type="button" style="border: 1px solid #049d8f; padding: 3px 8px; color: #049d8f;" data-orderno="${ck.OrderNo}" onclick="del(this)">删除订单</button>
                {{/if}}
                <button type="button" onclick="location.href = '/Order/JuniorOrderDetail?orderno=${ck.OrderNo}'" style="border: 1px solid #323232; padding: 3px 8px; color: #323232; ">订单详情</button>
            </th>
        </tr>
        <tr>
            <td colspan="3" style="height: 5px; background: none; border-bottom: none;"></td>
        </tr>
    </table>
    {{/each}}
</script>
<script>
    var loading;
    var AuditState = "@(AuditState)";
    var OrderState = "@(OrderState)";
    $(function () {
        initializeClass();
        LoadOrders($("#ordershtml"));
        $("#btn_search").click(function () {
            $(".js-orderstab").remove();
            $("#ordershtml").attr("data-pageindex", 1);
            LoadOrders($("#ordershtml"));
        });
        $(".condition").click(function () {
            $(this).addClass("tdfocus");
            $(".condition").not(this).removeClass("tdfocus");
            var stat = $(this).attr("data-condition");
            var name = $(this).attr("data-name");
            if (name == "audit") {
                AuditState = stat;
                OrderState = "";
            }
            else {
                OrderState = stat;
                AuditState = "";
            }
            $(".js-orderstab").remove();
            $("#ordershtml").attr("data-pageindex", 1);
            LoadOrders($("#ordershtml"));
        });

        $("#more").click(function () {
            if ($("#morediv").is(":hidden")) {
                $(this).val("隐藏");
                $("#morediv").show();
            }
            else {
                $(this).val("更多");
                $("#morediv").hide();
            }
        });
    })
    function LoadOrders(obj) {
        loading = layer.open({ type: 2, content: '加载中' });
        var gopage = $(obj).attr("data-pageindex");
        var json = $("#formcondition").serializeArray();
        json.push({ "name": "pageIndex", "value": gopage });
        json.push({ "name": "pageSize", "value": 10 });
        json.push({ "name": "AuditState", "value": AuditState });
        json.push({ "name": "OrderState", "value": OrderState });
        $.post("/Order/LoadMyJuniorOrders", json, function (data) {
            layer.close(loading);
            if (data.thisCnt > 0) {

                if (data.rowEnd < data.totalCnt) {
                    $(obj).show();
                }
                $("#orderstmp").tmpl(data).insertBefore('#ordershtml');
                $(obj).attr("data-pageindex", accAdd(gopage, 1))
            }
            else {
                $(obj).hide();
                layer.open({ content: '什么都没有', skin: 'msg', time: 2 });
            }
        })
    }

    function initializeClass() {
        var statobj;
        if (AuditState != "") {
            statobj = $("[data-condition='" + AuditState + "']");
        }
        else {
            statobj = $("[data-condition='" + OrderState + "']");
        }
        $(statobj).addClass("tdfocus");
        $(".condition").not(statobj).removeClass("tdfocus");
    }

    function toaudit(obj) {
        var orderno = $(obj).attr("data-orderno");

        layer.open({
            content: "您确定要审核通过订单【" + orderno + "】吗？"
   , btn: ['确定', '不要']
   , yes: function (index) {

       $.post("/Order/toAudit", { "orderno": orderno }, function (rtn) {
           if (rtn == "ok") {
               layer.open({ content: '订单【' + orderno + "】审核成功，去扫码出库吧！", skin: 'msg', time: 2 });
               $(".js-orderstab").remove();
               $("#ordershtml").attr("data-pageindex", 1);
               LoadOrders($("#ordershtml"));
           }
           else {
               layer.open({ content: rtn, btn: '我知道了' });
           }
       })

       layer.close(index);
   }
        });


    }
    function del(obj) {
        var orderno = $(obj).attr("data-orderno");

        layer.open({
            content: "您确定要删除订单【" + orderno + "】吗？"
   , btn: ['确定', '不要']
   , yes: function (index) {

       $.post("/Order/orderdel", { "orderno": orderno }, function (rtn) {
           if (rtn == "ok") {
               layer.open({ content: '订单【' + orderno + "】删除成功！", skin: 'msg', time: 2 });
               $(".js-orderstab").remove();
               $("#ordershtml").attr("data-pageindex", 1);
               LoadOrders($("#ordershtml"));
           }
           else {
               layer.open({ content: rtn, btn: '我知道了' });
           }
       })

       layer.close(index);
   }
        });


    }
</script>
