 body { padding: 0; margin: 0;}
 ol,ul,li {padding: 0;  margin: 0; list-style: none}
 h2,h3,h4,h5,ul,li,p,hr {padding: 0;margin: 0;}
 input {outline: none;}
 html{ padding: 0; margin: 0;}
 html,body{ height:100%}
 i{ font-style: normal;}

/*确认订单*/
.order-detail{ background: #fff; border-bottom: 1px solid #ddd; color: #2a7cec; font-size: 1.3rem;}
.order-detail li{ margin:0 5%; border-bottom: 1px solid #ddd; line-height: 4rem;}
.order-detail li span{ color: #2a7cec;}
.order-detail li:last-child{ border-bottom: 0;}
.pay-style label{ float: right; margin-top: 1rem;  }
.pay-style{ overflow: hidden; background: #fff;}
.pay-style li{ padding:0.5rem 5%; border-bottom: 1px solid #ddd; overflow: hidden;}
.pay-style img{ float: left; padding: 3px 10px 3px 0; margin-top: 0.8rem;}
.pay-style span{ float: left;line-height: 4rem;}
.pay-style .descript{ color: #7c7c7c; font-size: 1.1rem;}
.pay-style-box{ font-size: 1.8rem; margin: 20px 0 0px 5%;}
.moren{margin: 0 5%;}
.login-btn{margin: 1.5rem 5%; border: 0; color: #fff; width: 90%; font-size: 1.3rem; padding: 0.7rem;border-radius: 5px; background: #2a7cec;}

/*页面标题*/
.com-title{height:44px; line-height:44px;  font-size:18px; background:#2a7cec; color:#fff; font-family:\5FAE\8F6F\96C5\9ED1; text-align:center; position:relative;}
.com-title div{margin: 0 50px;height: 44px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.com-title a{ display:block; position:absolute;}
.com-title .return{ width:12px; height:22px; top:11px; left:15px; position:absolute;background: url(../images/bg.png) -93px -128px no-repeat;background-size: 125px 150px;}
.com-title a.arule{ color:#fff; top:0px; right:15px; font-size:16px}
.Radio1{ float:right; margin-top:19px; position:relative; top:12px;}