@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/layout/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/layout/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/skin/default/skin.css"
          id="skin" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/css/style.css" />
    <title>未审核奖品</title>
    <style type="text/css">
        .table td {
            text-align: center;
        }
    </style>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/jquery.tmpl.min.js"></script>
    <script src="~/js/common/Datehelper.js"></script>
</head>
<body>

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 抽奖管理 <span class="c-gray en">&gt;</span> 未审核奖品 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <form class="text-c" id="condition">
            <div class="text-c">
                关键字：
                <input type="text" name="keyword" id="" placeholder=" 请输入搜索关键字" style="width: 250px"
                       class="input-text" />
                <button name="" id="search" class="btn btn-success" type="button">
                    <i class="Hui-iconfont">&#xe665;</i> 搜索
                </button>

            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg dataTable" id="datahtml"></table>
                @Html.Partial("_Paging")
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/layout/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="/layout/static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>
<script type="text/x-jquery-tmpl" id="datajs">
    <thead>
        <tr class="text-c">
            <th>
                姓名
            </th>
            <th>
                电话
            </th>
            <th>
                防伪码
            </th>
            <th>
                奖品
            </th>
            <th>
                抽奖时间
            </th>
            <th>
                地址
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        {{each(i,ck) RtnList}}
        <tr class="text-c">
            <td>
                ${ck.Name}
            </td>
            <td>
                ${ck.Phone}
            </td>
            <td>
                ${ck.AntiCode}
            </td>
            <td>
                ${ck.Prize}
            </td>
            <td>
                ${ChangeDateFormat(ck.DatCreate).Format("yyyy-MM-dd hh:mm:ss")}
            </td>
            <td>
                ${ck.Address}
            </td>
            <td>
                ${ck.State}
            </td>
            <td>
                <a style="text-decoration: none" data-id="${ck.ID}" class="ml-5 delete" onclick="Verify(this)" href="javascript:;" title="审核">
                    <i class="Hui-iconfont">&#xe6a7;</i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</script>
<script>
    var dataUrl = "/C_UserPrize/GetNoPrizePage";
    function Verify(obj) {
        var id = $(obj).attr("data-id");
        layer.confirm('确认要审核吗？', function (index) {
            $.post("/C_UserPrize/GetVerify", { "ID": id }, function (rtn) {
                if (rtn == "ok") {
                    $(obj).parents("tr").remove();
                    layer.msg('已审核!', { icon: 1, time: 1000 });
                }
                else {
                    layer.alert(rtn);
                }
            })

        });
    }
</script>