@using WeModels;
@{
    Layout = null;
}
@model C_User
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/layout/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/layout/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/skin/default/skin.css"
          id="skin" />
    <link rel="stylesheet" type="text/css" href="/layout/static/h-ui.admin/css/style.css" />
    <title>一级经销商库存分析</title>
    <style type="text/css">
        .table td {
            text-align: center;
        }
    </style>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/jquery.tmpl.min.js"></script>
    <script src="~/js/common/Datehelper.js"></script>
    <script src="~/js/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Highcharts/js/exporting.js"></script>
    <script src="~/Highcharts/js/highcharts.js"></script>
    <script src="~/js/YearChart.js"></script>
</head>
<body onload="Show()">

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 统计数据分析 <span class="c-gray en">&gt;</span> 一级经销商库存分析<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <form class="text-c" id="condition">
            <div class="text-c">
                关键字：
                <input type="text" name="keyword" id="keyword" placeholder=" 请输入姓名或电话" style="width: 250px"
                       class="input-text" />
                <button name="" id="sch" class="btn btn-success" type="button" onclick="Show()">
                    <i class="Hui-iconfont">&#xe665;</i> 搜索
                </button>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg dataTable" id="datahtml"></table>
                @Html.Partial("_Paging")
            </div>
            <div id="Clientcontainer" style="min-width: 510px; width: 100%; height:350px; margin: 30px auto"></div>
        </form>
    </div>
    <script type="text/javascript" src="/layout/lib/layer/2.1/layer.js"></script>

    <script type="text/javascript" src="/layout/static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>
<script type="text/x-jquery-tmpl" id="datajs">
    <thead>
        <tr class="text-c">
            <th>
                经销商姓名
            </th>
            <th>
                联系方式
            </th>
            <th>
                级别名称
            </th>
            <th>
                库存数量
            </th>
            <th>
                明细
            </th>
        </tr>
    </thead>
    <tbody>
        {{each(i,ck) RtnList}}
        <tr class="text-c">
            <td>
                ${ck.Name}
            </td>
            <td>
                ${ck.Phone}
            </td>
            <td>
                ${ck.C_UserTypeName}
            </td>
            <td>
                ${ck.count}
            </td>
            <td>
                <a title="查看明细" href="javascript:;"
                   onclick="layer_show('查看库存明细', '/C_userCount/C_userCountDetail?username=${ck.UserName}', '900', '500')" class="ml-5 edit" style="text-decoration: none">
                    <i class="Hui-iconfont">&#xe6f9;</i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</script>
<script>
    //$(function () {


        
       
    //})
    function Show()
    {
        debugger;
       
        var username = $("#keyword").val();
      
        PieCharts('/AgentCensus/YJCustomerPieCensus?key=' + username, 'Clientcontainer', '', 'pie');
        getjsondata(1);
    }
    
    var dataUrl = "/C_userCount/GetSaleAgent";
    function morecondition(obj) {
        if ($(".js-nospan").is(':visible')) {
            $(".js-nospan").hide();
            $(obj).text("更多");
        }
        else {
            $(".js-nospan").show();
            $(obj).text("隐藏");
        }
    }
</script>
@*<script>
    $(function () {
        var username = $("#keyword").val();

        PieCharts('/AgentCensus/YJCustomerPieCensus?key=' + username, 'Clientcontainer', '', 'pie');
    })
    function show() {
        debugger;
        var username = $("#keyword").val();

        PieCharts('/AgentCensus/YJCustomerPieCensus?key=' + username, 'Clientcontainer', '', 'pie');
    }
</script>*@