*
{
    box-sizing: border-box;
}

html
{
    font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

.bellows p
{
    margin: 0;
}

p + p
{
    margin-bottom: 10px;
}

/*
本代码由js代码收集并编辑整理;
尊重他人劳动成果;
转载请保留js代码链接 - www.jsdaima.com
*/