@using WeModels
@{
    Layout = null;
    string url = ViewData["url"] as string;
}
<!DOCTYPE html>

<html>
<head>
    <title>经销商登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9" />
    <meta name='viewport' content='width=640px, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,target-densitydpi=device-dpi' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/Common/layer.mobile-v2.0/layer_mobile/layer.js"></script>
    <link href="~/StyleAndScript/Theme/default/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="veger-bgfj">
        <div class="veger-fch">
            <div class="veger-fch-div">
                <div class="veger-logo"><img src="/images/logo.png?@(WeConfig.img_version)" width="30%" /></div>
                <div class="veger-w2">尊客经销商后台登录</div>
                <div class="veger-w3 veger-padding8"><input class="veger-input9 veger-zh" id="Text1" name="Phone" type="text" placeholder="请输入用户名/手机号" /></div>
                <div class="veger-w3 veger-padding2"><input class="veger-input9 veger-pwd" id="Text2" name="PassWord" type="password" placeholder="请输入登录密码" /></div>
                <div class="veger-w4">
                    <input type="checkbox" class="gcs-checkbox" name="remember" id="SavePwd" onclick="this.className=/checked/ig.test(this.className)?this.className.replace('checked',''):(this.className+' checked')">
                    <label for="SavePwd"></label> 记住密码
                </div>
                <div class="veger-w3 veger-padding5"><input class="veger-btn" id="login" type="button" value="确认登录" /></div>
            </div>
            <div class="veger-foot">&copy;&nbsp;通程防伪&nbsp;提供技术支持</div>
        </div>
    </div>
</body>

</html>
<script src="~/js/Common/CookieHelper.js"></script>
<script>
    var url = "@(HttpUtility.UrlDecode(url))";
    if (url == "") {
        url = "/agentback/Index";
    }
    var loading;

    $(function () {

        var login_code = getCookie("login_code");
        var login_pwd = getCookie("login_pwd");
        if (login_code != "") {
            $("[name='Phone']").val(login_code);
            $("[name='PassWord']").val(login_pwd);
            $("[name='remember']").prop("checked", true).addClass("checked");
        }

        $("#login").click(function () {
            loading = layer.open({
                type: 2, content: '登录中'
            });

            var Phone = $("[name='Phone']").val();
            var PassWord = $("[name='PassWord']").val();

            if ($("[name='remember']").is(":checked")) {
                setCookie("login_code", Phone);
                setCookie("login_pwd", PassWord);
            }
            else {
                setCookie("login_code", "");
                setCookie("login_pwd", "");
            }

            $.post("/Home/toLogin", { "Phone": Phone, "PassWord": PassWord }, function (rtn) {
                layer.close(loading);
                if (rtn == "ok") {
                    window.location.href = url;
                }
                else {
                    layer.open({ content: rtn, btn: '我知道了' });
                }
            }).error(function () {
                layer.open({ content: "网络错误", btn: '我知道了' });
            });
            return false;
        });
    });
</script>